/**
 * {{appName}}
 *
 * {{appDescription}}
 *
 * Version: {{version}}
 * Generated: {{generatedDate}}
 */

#include "ModelObject.h"
#include <cpprest/http_client.h>

namespace swagger {
    namespace cpprest {
        namespace model {

            web::json::value ModelObject::toJson() const
            {
                return web::json::value();
            }

            void ModelObject::fromJson(web::json::value& json)
            {
                // Empty
            }

        }
    }
}

